* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}





/* CSS GENERAL */
body{
    padding: 0;
    margin: 2.5vw auto;
    box-sizing: border-box;
    width: 90%;
    font-size: 16px;
    background-color: black;
}

#indexbody {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    background-size: 100%;
    background-image: url("gallery/NaranjaM.jpeg");
}

article {
    background-color: rgb(0, 0, 0);
    background-size: 100%;
}

ul {
  list-style: none;
}

/* .img {
    background-color: crimson;
    width: 100px;
    height: 100px;
} */

img {
    width: 100%;
    height: auto;
    align-items: flex-end;
}

section {
    padding: 5vw;
    margin: 0;
    box-sizing: border-box;
}

.aheader {
    color: white;
}

a:hover {
    color: #ff0000;
}

input:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}






/* TEXTO GENERAL */
p {
    font-size: 1.2rem;
    font-family: "Elms Sans", sans-serif;
    color: white;
}

.pfooter {
    font-size: 1.2rem;
    font-family: "Elms Sans", sans-serif;
    color: black;
}

h3 {
    font-size: 3.5rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: white;
}

h2 {
    color: #ff0000;
    font-size: 20rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
}

a {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

label {
    font-size: 1.2rem;
    font-family: "Elms Sans", sans-serif;
    color: white;
}






/* HEADER */
#Kubrick {
    padding: 3vw 0 2vw 0;
    display: flex;
    justify-content: center;
}

header {
    padding: 0 0 5% 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > ul {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: right;
    gap: 2vw;
}






/* INDEX */
#introduccion {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
}

#introduccion > :first-child {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 3vw;
}

#introduccion > :last-child {
    min-width: 380px;
    max-width: 650px;
    min-height: 300px;
    padding: 0;
    height: fit-content;
    border-radius: 45px;
    overflow: hidden;
}

#Aboutus {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}






/* TIMELINE */
#lineatiempo {
    padding: 4vw 15vw;
    margin: 0;
    box-sizing: border-box;
}

.evento {
    padding: 9% 3%;
    margin: 6vw 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0.10vh;
    background-color: #ff0000;
    border-radius: 6%;
    border:0  solid;
}

.peli {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 1vw;
}

.mapa {
    display: flex;
    justify-content: center;
}

.evento > .img {
    width: 45%;
    border-radius: 45px;
    overflow: hidden;
}

.evento > .img > img {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 28 px;

}






/* TICKETS */
.tabla > div {
    padding: 5vh 0;
    margin: 0;
    box-sizing: border-box;
}

.tabla > :first-child {
    display: flex;
    justify-content: flex-start;
    gap: 5vw;
}

.tabla > :nth-child(2) > :first-child{
    padding: 0 0 3vh 0;
    margin: 0;
    box-sizing: border-box;
}

.tabla > :nth-child(2) > :nth-child(2) > div {
    padding: 2vh 3vw;
    margin: 4vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 6vw;
    border: 1px solid white;
}

.tabla > :last-child > p {
    padding: 0 0 3vh 0;
    margin: 0;
    box-sizing: border-box;
}

.tabla > :last-child > div {
    display: flex;
    justify-content: flex-start;
    gap: 6vw;
}

.saldo {
    padding: 0;
    margin: 0 20vw 15vh 20vw ;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.saldo > div {
    padding: 3vh 3vw;
    margin: 0;
    box-sizing: border-box;
}

.saldo > :nth-child(2) > div {
    padding: 2vh 3vw;
    margin: 0;
    box-sizing: border-box;
    margin: 0 4vh 0 4vh;
}

.saldo > :nth-child(2) > :first-child > div {
    padding: 2vh 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.saldo > :nth-child(2) > :last-child > div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.saldo > :last-child {
    display: flex;
    justify-content: flex-end;
    size: 400;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #ff0000;
}

input {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px;
}






/* FOOTER */
/* FOOTERgeneral */
footer {
    padding: 7%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 7vw;
    background-color: white;
}

.footersection {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

/* FOOTERprimerhijo */
footer > :first-child > div {
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
}

footer > :first-child > div > :last-child {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

/* FOOTERsegundohijo */
footer > :nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 8vw;
}

footer > :nth-child(2) > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5vw;
}

footer > :nth-child(2) > div > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5vw;
}

footer > :nth-child(2) > :first-child > ul {
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
}

footer > :nth-child(2) > :last-child > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vw;
}

.footerlinks {
    display: flex;
    justify-content: flex-start ;
    gap: 1vw;
}

/* FOOTERtercerhijo */
footer > :last-child {
    display: flex;
    justify-content: space-between;
}

footer > :last-child > ul {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}






/* RESPONSIVE */
@media screen and (max-width:480px) {
    body {
       padding: 0;
       margin: 0.5vh auto 2.5vh auto;
       box-sizing: border-box;
       width: 95%;
       font-size: 1.5rem;
       background-color: rgb(0, 0, 0);
       background-size: 100%;
    }

    section {
        padding: 6vw 0 6vw 0;
        margin: 0;
        box-sizing: border-box;
    }

    #indexbody {
        background-color: rgb(0, 0, 0);
        background-image: none;
    }

    h2 {
        font-size: 7rem;
    }

    header {
        padding: 0 0 15% 0;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    header > ul {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;    
        align-items: right;
        gap: 5vh;
    }

    #lineatiempo {
        padding: 0 0;
        margin: 0;
        box-sizing: border-box;
    }

    .evento {
        padding: 9% 3%;
        margin: 10vw 0;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 0.10vh;
        background-color: #ff0000;
        border-radius: 6%;
    }

    .peli {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 1vw;
    }

    #introduccion {
        gap: 3vh;
    }

    #introduccion > :first-child {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 2vh;
    }
    
    #introduccion > :last-child {
        min-width: 370px;
        max-width: 650px;
        padding: 40px 40px;
        height: fit-content;
    }

    #Aboutus {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

.tabla > :first-child {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.tabla > :last-child > p {
    padding: 0 0 6vh 0;
    margin: 0;
    box-sizing: border-box;
}

.tabla > :last-child > div {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.saldo {
    padding: 0;
    margin: 0 0 15vh;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.saldo > div {
    padding: 3vh 3vw;
    margin: 0;
    box-sizing: border-box;
}

.saldo > :nth-child(2) > div {
    padding: 2vh 3vw;
    margin: 0;
    box-sizing: border-box;
    margin: 0 4vh 0 4vh;
}

.saldo > :nth-child(2) > :first-child > div {
    padding: 2vh 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.saldo > :nth-child(2) > :last-child > div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.saldo > :last-child {
    display: flex;
    justify-content: flex-end;
    size: 400;
}

    footer {
        padding: 10% 2% 0 2%;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: right;
        gap: 5vh;
    }

    .footersection {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    footer > :nth-child(2) {
        display: flex;
        justify-content: center;
        gap: 8vw;
    }

    footer > :first-child > div {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    footer > :first-child > div > :last-child {
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
    }

    footer > :first-child > ul {
        display: flex;
        justify-content: center;
    }

    footer > :nth-child(2) > div > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5vh;
    }

    footer > :nth-child(2) > :first-child > ul {
        display: flex;
        justify-content: flex-start;
        gap: 1vh;
    }

    footer > :nth-child(2) > :last-child > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1vh;
    }

    .footerlinks {
        display: flex;
        justify-content: flex-start ;
        gap: 1vh;
    }

        
        footer > :last-child {
            display: flex;
            justify-content: flex-start;
        }
}




@media screen and (max-width:480px) {
    body {
       padding: 0;
       margin: 0.5vh auto 2.5vh auto;
       box-sizing: border-box;
       width: 95%;
       font-size: 1.5rem;
       background-color: rgb(0, 0, 0);
       background-size: 100%;
    }

    section {
        padding: 6vw 0 6vw 0;
        margin: 0;
        box-sizing: border-box;
    }

    #indexbody {
        background-color: rgb(0, 0, 0);
        background-image: none;
    }

    h2 {
        font-size: 7rem;
    }

    header {
        padding: 0 0 15% 0;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    header > ul {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;    
        align-items: right;
        gap: 5vh;
    }

    #lineatiempo {
        padding: 0 0;
        margin: 0;
        box-sizing: border-box;
    }

    .evento {
        padding: 9% 3%;
        margin: 10vw 0;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 0.10vh;
        background-color: #ff0000;
        border-radius: 6%;
    }

    .peli {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 1vw;
    }

    #introduccion {
        gap: 3vh;
    }

    #introduccion > :first-child {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 2vh;
    }
    
    #introduccion > :last-child {
        min-width: 370px;
        max-width: 650px;
        padding: 40px 40px;
        height: fit-content;
    }

    #Aboutus {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

.tabla > :first-child {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.tabla > :last-child > p {
    padding: 0 0 6vh 0;
    margin: 0;
    box-sizing: border-box;
}

.tabla > :last-child > div {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.saldo {
    padding: 0;
    margin: 0 0 15vh;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.saldo > div {
    padding: 3vh 3vw;
    margin: 0;
    box-sizing: border-box;
}

.saldo > :nth-child(2) > div {
    padding: 2vh 3vw;
    margin: 0;
    box-sizing: border-box;
    margin: 0 4vh 0 4vh;
}

.saldo > :nth-child(2) > :first-child > div {
    padding: 2vh 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.saldo > :nth-child(2) > :last-child > div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.saldo > :last-child {
    display: flex;
    justify-content: flex-end;
    size: 400;
}

    footer {
        padding: 10% 2% 0 2%;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: right;
        gap: 5vh;
    }

    .footersection {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    footer > :nth-child(2) {
        display: flex;
        justify-content: center;
        gap: 8vw;
    }

    footer > :first-child > div {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    footer > :first-child > div > :last-child {
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
    }

    footer > :first-child > ul {
        display: flex;
        justify-content: center;
    }

    footer > :nth-child(2) > div > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5vh;
    }

    footer > :nth-child(2) > :first-child > ul {
        display: flex;
        justify-content: flex-start;
        gap: 1vh;
    }

    footer > :nth-child(2) > :last-child > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1vh;
    }

    .footerlinks {
        display: flex;
        justify-content: flex-start ;
        gap: 1vh;
    }

        
        footer > :last-child {
            display: flex;
            justify-content: flex-start;
        }
}